<link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/katex/dist/katex.min.css"
    crossorigin="anonymous"
/>
<script type="module">
    import renderMathInElement from "https://cdn.jsdelivr.net/npm/katex/dist/contrib/auto-render.mjs";
    renderMathInElement(document.body, {
        delimiters: [
            { left: "$$", right: "$$", display: true },
            { left: "$", right: "$", display: true },
        ],
    });
</script>
<script
    type="module"
    src="https://cdn.jsdelivr.net/npm/katex/dist/contrib/copy-tex.mjs"
    crossorigin="anonymous"
></script>
